# cp .env.example .env
# run the above command to create a .env file

# IPFS Configuration
REACT_APP_IPFS_PROJECT_KEY=your_project_key
REACT_APP_IPFS_SECRECT_KEY=your_secret_key
REACT_APP_IPFS_URL=ipfs.infura.io
REACT_APP_IPFS_PORT=5001
REACT_APP_IPFS_PROTOCOL=https

# Network Configuration
REACT_APP_NETWORK=localhost
REACT_APP_RPC_URL=http://127.0.0.1:8545
REACT_APP_NETWORK_ID=1337

# Hardhat Configuration
INFURA_PROJECT_ID=your_project_id
PRIVATE_KEY=your_private_key
